# Node modules
**/node_modules/

# Logs
**/logs/
**/*.log

# Environment variables
**/.env

# Build artifacts
**/dist/
**/build/

# Docker files
**/docker-compose.yaml

# IDE and editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

